#calculator{
    width: 400px;
    height: auto;
    border: 2px solid black;
    border-radius: 7px;
    background-color:grey;
    margin: auto;
}

#display{
    width: 350px;
    height: 100px;
    margin: 22px;
    border: 2px solid sienna;
    background-color:white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#clear_delete_btn{
    width: 350px;
    height: 60px;
    margin: 22px;
    display: flex;
    justify-content:space-between;
   /* border: 1px solid sienna;*/
    padding-top: 3px;

}

#clear ,
#delete{
    width: 150px;
    height: 150px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    background-color: darkseagreen;
    border: none;
   cursor: pointer;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:medium;

}

#clear:hover,
#delete:hover{
    background-color: cadetblue;
}


#number_operator{
    width: 350px;
    height: 348px;
   /* border: 1px solid sienna;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 25px;

}

#number7,#no7,
#number8,#no8,
#number9,#no9,
#divide,#op_divide,
#number4,#no4,
#number5,#no5,
#number6,#no6,
#multiply,#op_multiply,
#number1,#no1,
#number2,#no2,
#number3,#no3,
#substrate,#op_sub,
#decimal,#dec,
#number0,#no0,
#equal_sign,#op_equal,
#add,#op_add{
    width: 70px;
    height: 60px;
    border: none;
    align-items: flex-start;
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding-top: 2px;
    font-size:large;
}

#number7,#no7:hover,
#number8,#no8:hover,
#number9,#no9:hover,
#divide,#op_divide:hover,
#number4,#no4:hover,
#number5,#no5:hover,
#number6,#no6:hover,
#multiply,#op_multiply:hover,
#number1,#no1:hover,
#number2,#no2:hover,
#number3,#no3:hover,
#substrate,#op_sub:hover,
#decimal,#dec:hover,
#number0,#no0:hover,
#equal_sign,#op_equal:hover,
#add,#op_add:hover{
    background-color: aqua;
    cursor: pointer;
}

#output,
#input{
   /* border: 1px solid red;*/
    height: 40px;
    width: 330px;
    align-self: center;
    font-family:sans-serif;
    font-size: xx-large;
}

