#calculator{
    width: 400px;
    height: auto;
    border: 2px solid black;
    border-radius: 7px;
    background-color:grey;
    margin: auto;
}

#display{
    width: 350px;
    height: 100px;
    margin: 22px;
    border: 2px solid sienna;
    background-color:white;
    border-radius: 5px;
}

#clear_delete_btn{
    width: 350px;
    height: 60px;
    margin: 22px;
    display: flex;
    justify-content:space-between;
   /* border: 1px solid sienna;*/
    padding-top: 3px;

}

#clear ,
#delete{
    width: 150px;
    height: 150px;
    height: 50px;
    border: 1px solid sienna;
    border-radius: 5px;
    align-items: center;
    background-color: darkseagreen;

}

#clear,
#delete{
    border: none;
    background-color: darkseagreen;
   cursor: pointer;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:medium;

}

#clear:hover,
#delete:hover{
    background-color: cadetblue;
}


#number_operator{
    width: 350px;
    height: 348px;
   /* border: 1px solid sienna;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 25px;

}

#number7,
#number8,
#number9,
#divide,
#number4,
#number5,
#number6,
#multiply,
#number1,
#number2,
#number3,
#substrate,
#decimal,
#number0,
#equal_sign,
#add{
    width: 70px;
    height: 42px;
    border: 2px solid sienna;
    align-items: flex-start;
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding-top: 29px;;
}

#no7,
#no8,
#no9,
#op_divide,
#no4,
#no5,
#no6,
#op_multiply,
#no1,
#no2,
#no3,
#op_sub,
#dec,
#no0,
#op_equal,
#op_add{
border: none;
background-color: white;
font-weight: bold;
font-size:large;
}

